.navegacion_item, .formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

#logo, .texto_contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer_item, .footer_item a {
  display: flex;
  align-items: center; }

.footer_general {
  display: flex;
  justify-content: center; }

.video_nosotros {
  display: flex;
  align-items: center;
  justify-content: center; }

.navegacion li {
  display: flex;
  text-align: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif; }

body {
  background-image: url("../logos/fondo icono.png");
  background-position: center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: black !important; }

.main {
  height: auto; }

.cabecera {
  background-color: #fac338b7;
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 99;
  font-size: 20px; }

.navegacion {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly; }
  .navegacion li {
    list-style: none; }

.navegacion li:hover {
  background-color: #FDECC0; }

.logo_panycia {
  padding: 3px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%; }

#nav_mobile {
  display: none; }

@media only screen and (max-width: 425px) {
  #nav_desktop {
    display: none; }
  #nav_mobile {
    display: inline; }
  .logo_panycia_m {
    border-radius: 50%; } }

footer {
  position: sticky;
  top: 100vh; }

.footer_general {
  background-color: #fac338b7;
  width: 100vw;
  margin: auto;
  margin-top: 5px;
  align-items: baseline; }

.footer_info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.footer_info_item {
  margin: 0vw 2vw 0vw 2vw;
  max-width: 30vw; }

.footer_info_item h3 {
  font-weight: bold; }

.footer_logo_pyc {
  display: flex;
  align-self: center; }
  .footer_logo_pyc img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem; }

.footer_logos_info {
  width: 2rem;
  height: 1.5rem;
  padding-right: 7px; }

@media only screen and (max-width: 425px) {
  .footer_general {
    flex-direction: column; }
  .footer_info {
    flex-direction: column;
    align-items: center;
    width: 100vw; }
  .footer_info_item {
    min-width: 90%; }
  .footer_logo_pyc {
    padding-top: 1vh; } }

.nuestros_productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.nuestros_productos h2 {
  padding-top: 15vh; }

.nuestros_productos p {
  width: 30vw;
  padding: 7vh 7vh; }

.productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.producto_item {
  background-color: #fdecc0e1;
  border-radius: 35px;
  margin: 1vw;
  padding: 2vw; }

.logo_productos {
  width: 25%;
  height: 25%; }

@media only screen and (max-width: 768px) {
  .nuestros_productos p {
    padding: 0;
    padding-top: 5vh;
    width: 50%; } }

.container_productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15vh; }

#productos_tienda {
  display: flex;
  flex-wrap: wrap; }

.container_productos_carrito {
  display: flex;
  flex-direction: row; }

.container_carrito_entero {
  align-self: center; }

.cart-logo-container {
  height: 6em;
  width: 6em;
  background-color: yellow;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center; }

.cart-logo {
  height: 70%; }

.card {
  background-color: #fac338;
  margin: 5vh;
  width: 15vw;
  height: 28vh; }

.p_foto {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 9px;
  object-fit: cover;
  align-self: center; }

.p_boton {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: '';
  color: #000000;
  font-size: 18px;
  background: #FDECC0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: transparent; }

.p_boton:hover {
  background: #fac338;
  border: solid 1px #000000;
  text-decoration: none; }

.sidecart {
  border-left: solid 2px #000000;
  width: 320px;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  top: 0px;
  overflow: auto !important;
  right: -320px;
  z-index: 9000;
  transition: 0.2s ease;
  background-color: #fac338; }

@media (max-width: 400px) {
  .sidecart {
    width: 100vw;
    right: -100vw; } }

.open-cart {
  right: 0px !important; }

.open-cart:before {
  content: '';
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  background-color: black;
  opacity: 0.2;
  z-index: -1; }

.product-quantity {
  position: relative; }

.product-quantity:after {
  content: 'x de';
  white-space: nowrap;
  position: absolute;
  z-index: 10;
  margin-left: 2px; }

.p-top-cart {
  width: 90%;
  display: flex;
  align-content: center; }

.p-img-cart {
  display: flex;
  align-items: center; }

.p_cart_info {
  background-color: #fac338b7;
  border: solid 1px black;
  margin: 5px; }

.sidecart-price > div {
  margin: auto;
  width: 100%;
  white-space: nowrap; }

.botonfincompra {
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #faac38b7; }

.botonfincompra:hover {
  background-color: #ff6200d1; }

@media only screen and (max-width: 768px) {
  .flex_container {
    width: 60vw; } }

@media only screen and (max-width: 425px) {
  .container_productos {
    padding-top: 10vh; }
  .flex_container {
    display: flex;
    flex-direction: column;
    width: 90vw; }
  .flex_container img {
    margin-top: 2vh; }
  .foto_producto {
    align-self: center; }
  #foto_facturas {
    order: 2; }
  div.productos {
    padding: 2vh 2vh; } }

.texto_ubicacion {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.texto_ubicacion p {
  text-align: center;
  width: 30vw;
  padding: 2vh;
  margin-bottom: 10px; }

.iframe_container {
  display: flex;
  justify-content: center; }

.iframe_ubicacion {
  background-color: #fdecc08b;
  width: 45vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px; }

iframe {
  width: 40vw;
  height: 30vh; }

.texto_nosotros {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.texto_nosotros p {
  width: 30vw;
  padding: 3vh 5vh; }

.container_nosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh; }

.video_nosotros {
  background-color: #fdecc08b;
  width: 50vw;
  height: 30vw;
  border-radius: 55px; }

video {
  width: 45vw;
  height: auto; }

@media only screen and (max-width: 768px) {
  .texto_nosotros p {
    padding-top: 1vh;
    width: 65%; }
  .video_nosotros {
    width: 80%;
    height: 40vh; }
  video {
    width: 70vw; } }

@media only screen and (max-width: 425px) {
  .texto_nosotros p {
    padding-top: 1vh;
    width: 65%; }
  .video_nosotros {
    width: 95%;
    height: 30vh; }
  video {
    width: 80vw; } }

@media only screen and (max-width: 425px) {
  .texto_ubicacion div {
    display: flex;
    justify-content: center; }
  .texto_ubicacion p {
    padding-top: 2vh;
    width: 50%; }
  .iframe_ubicacion {
    background-color: #fdecc08b;
    width: 80vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px; }
  iframe {
    width: 70vw;
    height: 30vh; } }

.texto_contacto {
  padding-top: 15vh; }
  .texto_contacto p {
    text-align: center;
    width: 30vw;
    padding: 4vh 7vh; }

.form_item {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 1em;
  margin-bottom: 16px; }

input {
  height: 45px; }

textarea {
  width: 100%;
  resize: none; }

form .submit {
  background-color: #FDECC0;
  border-color: transparent;
  color: black;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px; }

form .submit:hover {
  background-color: #fac338;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .texto_contacto p {
    padding-top: 2vh;
    width: 80%; }
  .seccion_formulario {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center; }
  .formulario {
    width: 80%; }
    .formulario div {
      width: 100%; }
  .form_item {
    width: 100%;
    background-color: #fdecc08b; } }
