*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}


                                  /*body*/
body{
    background-image: url("./logos/fondo icono.png");
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black !important;
}

                                  /*header*/ 

.cabecera{
    background-color: #fac338b7;
    position: fixed;
    width: 100%;
    height: max-content;
    z-index: 99;
}

.navegacion{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navegacion li{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.navegacion li:hover{
    background-color: #FDECC0;
}

.navegacion_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_panycia{
    padding: 3px;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

#nav_mobile{
    display: none;
}

                                  /*main*/

                        /* INDEX */

.main{
    height: auto;
}

.nuestros_productos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nuestros_productos h2{
    padding-top: 15vh;
}

.nuestros_productos p{
    width: 30vw;
    padding: 7vh 7vh;
}

.productos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.producto_item{
    background-color: #fdecc0e1;
    border-radius: 35px;
    margin: 1vw;
    padding: 2vw;
}

.logo_productos{
    width: 10vw;
}

                        /* NOSOTROS */
.texto_nosotros{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_nosotros p{
    width: 30vw;
    padding: 3vh 5vh;
}

.container_nosotros{
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}

.video_nosotros{
    background-color: #fdecc08b;
    width: 50vw;
    height: 30vw;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    width: 45vw;
    height: auto;   
}
           
                        /* PRODUCTOS */
.container_productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15vh;
}

.productos{
    padding: 7vh;
    display: flex;
    flex-direction: column;
}

.flex_container{
    display: flex;
    flex-direction: row;
}

.productos_tabla{
    margin-top: 15px;
    border-collapse: collapse;
    min-width: 150px;
}

.productos_tabla tr th{
    text-align: left;
}

.productos_tabla tr{
    border-bottom: 1px solid #fac338;
}

.productos_tabla th{
    padding: 12px 15px;
}

.foto_producto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
    align-self: flex-end;
}

                         /* CONTACTO */
.texto_contacto{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_contacto p{
    text-align: center;
    width: 30vw;
    padding: 4vh 7vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form_item{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:black;
    font-size: 18px;
    margin-bottom: 16px; 
}

input{
    height: 45px;
}

textarea{
    width: 100%;
    resize: none;
}

form .submit{
    background-color: #FDECC0;
    border-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #fac338;
    cursor: pointer;
}


                         /* UBICACION */
.texto_ubicacion{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_ubicacion p{
    text-align: center;
    width: 30vw;
    padding: 2vh;
    margin-bottom: 10px;

}

.iframe_container{
    display: flex;
    justify-content: center;
}

.iframe_ubicacion{
    background-color: #fdecc08b;
    width: 45vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

iframe{
    width: 40vw;
    height: 30vh;
}
                    
                                  /*footer*/ 
footer{
    position: sticky;
    top: 100vh;
}

.footer_general{
    background-color: #fac338b7;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: auto;
    margin-top: 5px;
    align-items: baseline;
}

.footer_info{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_info_item{
    margin: 0vw 2vw 0vw 2vw;
    max-width: 30vw;
}

.footer_info_item h3{
    font-weight: bold;
}

.footer_item{
    display: flex;
    align-items: center;
}

.footer_item a{
    display: flex;
    align-items: center;
}

.footer_logo_pyc{
    display: flex;
    align-self: center;
}

.footer_logo_pyc img{
    border-radius: 50%;
    width: 100px;
}

.footer_logos_info{
    width: 30px;
    padding-right: 7px;
}

@media only screen and (max-width: 425px) {

   /*  Nav */
    #nav_desktop{
        display: none;
    }

    #nav_mobile{
        display: inline;
    }

    .logo_panycia_m{
        border-radius: 50%;
    }

    /* Index */
    
    .nuestros_productos p{
        padding: 0;
        padding-top: 5vh;
        width: 50%;
    }

   /*  Nosotros */

    .texto_nosotros p{
        padding-top: 1vh;
        width: 65%;
    }

    .video_nosotros{
        width: 95%;
        height: 30vh;
    }

    video{
        width: 80vw;
    }

    /* Productos */

    .container_productos{
        padding-top: 10vh;
    }

    .flex_container{
        display: flex;
        flex-direction: column;
    }

    .flex_container img{
        padding-top: 2vh;
    }

    .productos_tabla{
        background-color: #fdecc08b;
    }

    .foto_producto{
        align-self: center;
    }

    #foto_facturas{
        order: 2;
    }

    div.productos{
        padding: 2vh 2vh
    }

    /* Ubicacion */

    .texto_ubicacion div{
        display: flex;
        justify-content: center;
    }

    .texto_ubicacion p{
        padding-top: 2vh;
        width: 50%;
    }

    .iframe_ubicacion{
        background-color: #fdecc08b;
        width: 80vw;
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 55px;
    }
    
    iframe{
        width: 70vw;
        height: 30vh;
    }


    /* Contacto */

    .texto_contacto p{
        padding-top: 2vh;
        width: 50%;
    }

    .seccion_formulario{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .formulario{
        width: 80%;
    }

    .formulario div{
        width: 100%;
    }

    .form_item{
        width: 100%;
        background-color: #fdecc08b
    }

    /* Footer */

    .footer_general{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_info{ 
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .footer_info_item{
        min-width: 90%;
    }

    .footer_logo_pyc{
        padding-top: 1vh;
    }
}
