@media only screen and (max-width: 768px) {
.texto_nosotros p{
    padding-top: 1vh;
    width: 65%;
}

.video_nosotros{
    width: 80%;
    height: 40vh;
}

video{
    width: 70vw;
}
}

@media only screen and (max-width: 425px) {
.texto_nosotros p{
    padding-top: 1vh;
    width: 65%;
}

.video_nosotros{
    width: 95%;
    height: 30vh;
}

video{
    width: 80vw;
}
}
